*{padding: 0px; margin: 0px; box-sizing: border-box;}

:root{
    --cor-secundaria: #122ab2;
    --cor-primaria: #2c70ff;
    --cor-texto: #7c7c7c;
    --cor-de-fundo: #f7f7f7;
}

/* GERAL */
body{
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color: #222;
}

main{
    max-width: 960px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

/* CABEÇALHO DO SITE */

address{
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 10px;
    background-color: var(--cor-secundaria);
}

header a, header p{
    color: #fff;
    margin: 0 10px 10px 10px;
}

.menu a:hover{
    color: var(--cor-secundaria);
}

.menu{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 15px 0;
    background-color: var(--cor-primaria);
    align-items: center;
}

.menu h1{
    font-size: 2.25rem;
    margin: 0 10px;
}

.menu ul li{
    display: inline-flex;
    list-style: none;
}

nav a{
    display: block;
    padding: 10px 20px;
    font-size: 1.25rem;
}

/* INTRODUÇÃO */

main > h1{
    padding: 60px 10px;
    font-size: 3rem;
    line-height: 1;
}

#sobre{
    display: flex;
    padding: 60px 0;
    border-top: 2px solid var(--cor-primaria);
    border-bottom: 2px solid var(--cor-primaria);
}

.sobre-info{
    flex: 2;
    margin: 0 10px;
}

#sobre h1{
    margin-bottom: .5em;
    font-size: 3rem;
}

section p{
    margin-bottom: 1em;
    line-height: 1.4;
    font-size: 1.25rem;
    color: var(--cor-texto);
}

.sobre-img{
    margin: 0 10px;
    flex-wrap: wrap;
    flex: 1;
}

/* PRODUTOS */

#produtos h1{
    margin: 60px 10px;
    font-size: 3rem;
}

.produtos-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.produtos-item{
    flex: 1 1 175px;
    margin: 10px;
}

#produtos h2{
    padding: 60px 20px;
    font-size: 3rem;
    color: var(--cor-texto);
    background-color: var(--cor-de-fundo);
}

.purple{
    border-top: 8px solid #ae81ff;
}

.pink{
    border-top: 8px solid #f9265e;
    align-self: flex-start;
}

.blue{
    border-top: 8px solid #66d9eb;
}

/* PREÇO */

#preco{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
    padding: 60px;
    background-color: var(--cor-de-fundo);
}

.preco-item{
    flex: 1;
    padding: 20px;
    margin: 10px;
    min-width: 260px;
}

#preco h2{
    margin-top: 20px;
    text-align: center;
    font-size: 3rem;
    color: var(--cor-texto);
}

#preco span{
    display: block;
    max-width: 300px;
    margin: 20px auto;
    padding: 10px 0 5px 0;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

#preco sup{
    font-size: 1.5rem;
}

#preco ul{
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.25rem;
    font-style: italic;
    color: var(--cor-texto);
    list-style: none;
}

#preco li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}

#preco ul li::after{
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: var(--cor-primaria);
    border-radius: 50%;
}

#preco a{
    display: block;
    max-width: 300px;
    margin: 20px auto;
    padding: 15px 0;
    font-size: 2.25rem;
    font-weight: bold;
    color: #222;
    border: 4px solid;
    text-align: center;
    text-transform: uppercase;
}

#preco a:hover{
    outline: 2px solid var(--cor-texto);
    border: 4px solid var(--cor-texto);
    color: var(--cor-texto);
}

#qualidade{
    display: flex;
    flex-wrap: wrap;
    margin: 60px auto;
}

.qualidade-item{
    flex: 1 1 300px;
    margin: 20px 10px;
}

#qualidade h2{
    margin-bottom: 20px;
    font-size: 2.25rem;
    padding-left: 10px;
    color: var(--cor-texto);
}

.qualidade-item:nth-of-type(3n+1) h2{
    border-left: 7px solid #ae81ff;
}

.qualidade-item:nth-of-type(3n+2) h2{
    border-left: 7px solid #f9265e;
}

.qualidade-item:nth-of-type(3n+3) h2{
    border-left: 7px solid #66d9eb;
}

.newsletter{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    background-color: var(--cor-de-fundo);
}

.news-info{
    flex: 1 1 250px;
    margin: 0 10px;
}

.newsletter h1{
    font-size: 3rem;
}

.newsletter p{
    max-width: 230px;
    margin-bottom: 10px;
    font-style: italic;
}

form{
    display: flex;
    flex-wrap: wrap;
    flex: 2 1 260px;
    margin: 0 10px;
    align-self: center;
}

input{
    flex: 3 1 200px;
    padding: 15px 10px;
    margin: 0px;
    font-size: 1.25rem;
    color: var(--cor-texto);
    border: 4px solid var(--cor-primaria);
}

button{
    flex: 1 1 200px;
    margin: 0px;
    padding: 15px 10px;
    border: 0px;
    font-size: 2.25rem;
    font-weight: bold;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: var(--cor-de-fundo);
    background-color: var(--cor-primaria);
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-align: center;
    font-size: 2.25rem;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

@media (max-width: 800px){
    .preco{
        padding: 60px 10px;
    }
}
